<div class="footer-top">
    <div class="social-links verified-link">
      <a href="https://www.facebook.com/vectorunit" aria-label="Facebook" class="verified-link"><i class="fab fa-facebook-f"></i></a>
      <a href="https://x.com/vectorunit" aria-label="X (Twitter)" class="verified-link"><i class="fab fa-x-twitter"></i></a>
      <a href="https://instagram.com/vectorunit" aria-label="Instagram" class="verified-link"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCuOmpbGUZFRJlMyoyvpdpkg" aria-label="YouTube" class="verified-link"><i class="fab fa-youtube"></i></a>
      <a href="https://discord.gg/vectorunit" aria-label="Discord" class="verified-link"><i class="fab fa-discord"></i></a>
      <a href="https://vectorunit.com" aria-label="Website" class="verified-link"><img src="/cdn/image/icon-vu.png" alt="Website" width="24px"></img></a>
    </div>
</div>
<div class="footer-bottom">
  <br><br>
  <a href="#top" class="back-to-top">BACK TO TOP</a>
  <br><br><br><br><br>
  <p>© 2025 Vector Unit (parody). This is a fan-made parody site.</p>
  <div class="footer-bottom-links">
    <a href="/contact.html">CONTACT US</a>
    <a href="/about.html">ABOUT</a>
  </div>
</div>
